body{
    width:100%;
	background-color:black;
}

.container{
	background-color:white;
	width:95%;
	margin:auto;
	border-radius: 15px;
}
.topdiv{
    font-size:25px;
    margin:auto;
    width:50%;
    color:silver;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.bottomdiv{
    font-size:15px;
    margin:auto;
    width:35%;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

